* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: lightgray;
  color: black;
  accent-color: black;
  font-family: Verdana, sans-serif;

  --toolbar-width: 240px;
  --header-height: 50px;
  --control-height: 30px;
  --wide-height: 40px;
  --padding: 10px;
}

html, body {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

#header {
  position: absolute;
  width: 100%;
  height: var(--header-height);
  line-height: var(--header-height);
  padding: var(--padding);
  font-size: calc(var(--header-height) - 2 * var(--padding));
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
}

#layout {
  position: absolute;
  display: flex;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
}

#content {
  border-right: solid 1px black;
  bottom: 0;
  padding: var(--padding);
  background: lightgray;
  flex: 1;
}

#toolbar-container {
  height: 100%;
  right: 0;
  bottom: 0;
  top: var(--header-height);
  padding-top: var(--padding);
  padding-left: 0;
  background: lightgray;
  overflow-y: auto;
  overflow-x: hidden;
}

#toolbar {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

#toolbar * {
  width: calc(100% - 2 * var(--padding));
  height: var(--control-height);
  border: solid 1px black;
}

#toolbar input[readonly] {
  background: rgb(190, 190, 190);
}

button:hover {
  background: darkgray;
}

button:active {
  background: dimgray;
}

#toolbar .container {
  position: relative;
  display: grid;
  border: none;
  margin-bottom: 10px;
}

#toolbar .container label {
  display: flex;
  align-items: center;
  border: none;
  font-size: 13px;
}

input {
  padding-left: 3px;
}

#toolbar .container * {
  left: var(--padding);
  position: relative;
}

#toolbar .separator {
  border: none;
  border-bottom: solid 1px black;
  width: var(--toolbar-width);
  height: 0px;
  margin-top: var(--padding);
  margin-bottom: var(--padding);
}

#toolbar input[type="checkbox"] {
  filter: brightness(82%);
}

#toolbar input[type="radio"] {
  filter: brightness(82%);
}

#content * {
  padding: var(--padding);
  border: solid 1px black;
}

#content svg {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
}

#content svg text {
  user-select: none;
}

#toolbar .form-container {
  height: calc(var(--row-count) * (var(--control-height) + var(--padding)) - var(--padding));
  grid-template-columns: 120px 120px;
  grid-row-gap: var(--padding);
}

#toolbar .title-container {
  height: calc(var(--row-count) * (var(--control-height) + var(--padding)) - var(--padding));
  grid-template-columns: 200px;
  grid-row-gap: var(--padding);
  align-items: center;
}

#toolbar .wide-container {
  height: calc(var(--row-count) * (var(--wide-height) + var(--padding)) - var(--padding));
  grid-template-columns: 240px;
  grid-row-gap: var(--padding);
}

#toolbar .wide-container * {
  height: var(--wide-height);
  font-size: 17px;
}

#toolbar .title-container * {
  left: 40px;
  align-items: center;
  justify-content: left;
  font-size: 18px;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

#toolbar .wide-container label {
  height: var(--wide-height);
  font-size: 17px;
}

#toolbar .title-container label {
  left: 40px;
  align-items: center;
  justify-content: left;
  font-size: 18px;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}
